@import "../../GlobalStyles/Variables.scss";
.wrapper {
  background-color: white;
  padding-top: 2rem;
}
.footer {
  margin-top: 50px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0 3.2rem;

  button {
    border: none;
    background-color: $color-grey-light-1;
    color: $color-primary;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.6rem 1rem;
    border-radius: 10rem;
  }
}
.decrease {
  .iconLeft {
    margin-right: 8px;
  }
}
.increase {
  .iconRight {
    margin-left: 8px;
  }
}
.copyRight {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 1.2rem;
  color: $color-grey-dark-1;
  margin: 0 0.5rem 1rem 3rem;
}
